@font-face {
  font-family: 'Jost';
  src: local('Jost Thin'), local('JostThin'),
    url('../fonts/jost-200-thin.woff2') format('woff2'),
    url('../fonts/jost-200-thin.woff') format('woff'),
    url('../fonts/jost-200-thin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  src: local('Jost ThinItalic'), local('JostThinItalic'),
    url('../fonts/jost-200-thinitalic.woff2') format('woff2'),
    url('../fonts/jost-200-thinitalic.woff') format('woff'),
    url('../fonts/jost-200-thinitalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Jost';
  src: local('Jost Light'), local('JostLight'),
    url('../fonts/jost-300-light.woff2') format('woff2'),
    url('../fonts/jost-300-light.woff') format('woff'),
    url('../fonts/jost-300-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  src: local('Jost Book'), local('JostBook'),
    url('../fonts/jost-400-book.woff2') format('woff2'),
    url('../fonts/jost-400-book.woff') format('woff'),
    url('../fonts/jost-400-book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  src: local('Jost Medium'), local('JostMedium'),
    url('../fonts/jost-500-medium.woff2') format('woff2'),
    url('../fonts/jost-500-medium.woff') format('woff'),
    url('../fonts/jost-500-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  src: local('Jost Heavy'), local('JostHeavy'),
    url('../fonts/jost-800-heavy.woff2') format('woff2'),
    url('../fonts/jost-800-heavy.woff') format('woff'),
    url('../fonts/jost-800-heavy.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  src: local('Jost HeavyItalic'), local('JostHeavyItalic'),
    url('../fonts/jost-800-heavyitalic.woff2') format('woff2'),
    url('../fonts/jost-800-heavyitalic.woff') format('woff'),
    url('../fonts/jost-800-heavyitalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}
