<template>
  <div class="main-content-wrapper">
    <main class="main-content">
      <div class="banniere-a-propos">
        <div class="wrapper-banniere-flex">
          <div class="txt-banniere">
            <h1>{{ dataAPropos.banniere.nom }}</h1>
            <h2>{{ dataAPropos.banniere.sousTitre }}</h2>
          </div>
        </div>
      </div>
      <div class="wrapper-a-propos">
        <div class="txt-intro">
          <h3 v-html="dataAPropos.introduction"></h3>
        </div>
      </div>
      <div v-if="windowSize.width >= 800" class="mouse-wrapper">
        <svg
          class="mouse"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 74 124"
          preserveAspectRatio="xMidYMid meet"
        >
          <g fill="none" fill-rule="evenodd">
            <rect
              width="70"
              height="120"
              x="1.5"
              y="1.5"
              stroke="#9a9a9a"
              stroke-width="4"
              rx="36"
            />
            <circle class="scroll" cx="36.5" cy="31.5" r="5.5" fill="#9a9a9a" />
          </g>
        </svg>
      </div>
      <div class="content-presta">
        <div
          v-for="(presta, index) in dataAPropos.prestations"
          :key="presta.id"
          class="bloc-presta"
          @click="presta.title.isHidden = !presta.title.isHidden"
        >
          <template v-if="windowSize.width <= 800 || index % 2 == 0">
            <div class="presta-title">
              <h3 class="white">{{ presta.title.cible }}</h3>
              <h4>{{ presta.title.proposition }}</h4>
            </div>
            <p
              :class="{ hidden: presta.title.isHidden }"
              v-html="presta.description"
            ></p>
          </template>
          <template v-else>
            <p
              :class="{ hidden: presta.title.isHidden }"
              v-html="presta.description"
            ></p>
            <div class="presta-title">
              <h3 class="white">{{ presta.title.cible }}</h3>
              <h4>{{ presta.title.proposition }}</h4>
            </div>
          </template>
        </div>
      </div>
    </main>
    <TheFooter />
  </div>
</template>

<script>
import dataAPropos from '../data/dataAPropos.json';

export default {
  components: {
    TheFooter: () => import('../components/TheFooter.vue')
  },
  data() {
    return {
      dataAPropos
    };
  },
  computed: {
    windowSize() {
      return this.$store.getters.getWindowSize;
    }
  }
};
</script>

<style>
/****************

Bannière

****************/

.banniere-a-propos {
  width: 100%;
  height: 30vh;
  min-height: 125px;
  color: white;
  background-image: url('../assets/img/accueil/profil-wacom-web.jpg');
  background-size: cover;
  background-position: center 35%;
}

.wrapper-banniere-flex {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.txt-banniere h1 {
  font-size: 22px;
  font-weight: 200;
  text-transform: uppercase;
}

.txt-banniere h2 {
  font-size: 26px;
  font-weight: 800;
}

@media (min-width: 1200px) {
  .txt-banniere h1 {
    font-size: 28px;
    font-weight: 200;
  }

  .txt-banniere h2 {
    font-size: 32px;
    font-weight: 800;
  }
}

/****************

Texte Introduction

****************/

.txt-intro {
  padding: 3vw 10vw;
  margin: 20px 0;
  font-size: 16px;
  text-align: center;
  width: 100%;
}

.mobile-hidden {
  display: none;
}

@media (min-width: 800px) {
  .mobile-hidden {
    display: block;
  }

  .txt-intro {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .txt-intro {
    font-size: 18px;
  }
}

/****************

Scrolling mouse SVG

****************/
@media (min-width: 800px) {
  .mouse-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .mouse {
    max-width: 1.2rem;
    width: 100%;
    height: auto;
  }

  .scroll {
    animation-name: scroll;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.67, -0.6, 0.44, 1.18);
    animation-iteration-count: infinite;
    transform-origin: 50% 20.5px;
    will-change: transform, opacity;
    opacity: 1;
  }

  @keyframes scroll {
    0%,
    20% {
      transform: translateY(0) scaleY(1);
    }

    100% {
      transform: translateY(30px) scaleY(2);
      opacity: 0;
    }
  }
}

/****************

Blocs Prestations

****************/

.content-presta {
  margin: 30px 0 30px 0;
  padding: 4vw;
}

.bloc-presta {
  position: relative;
  width: 100%;
  margin: 0 0 50px 0;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all ease-in-out 1s;
  -moz-transition: all ease-in-out 1s;
  -o-transition: all ease-in-out 1s;
  -ms-transition: all ease-in-out 1s;
  transition: all ease-in-out 1s;
}

.bloc-presta:nth-child(1) {
  margin-top: 0;
}

.bloc-presta p.hidden {
  height: 250px;
}

.bloc-presta h3 {
  font-size: 1.4em;
  font-weight: 300;
  font-style: italic;
}

.bloc-presta h4 {
  font-family: 'Roboto';
  font-size: 1.6em;
  font-weight: 900;
}

.bloc-presta p {
  padding-top: 25px;
  font-size: 0.9em;
}

@media (min-width: 800px) {
  .content-presta {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 6vw 4vw 2vw 4vw;
  }

  .content-presta::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-right: 1px solid #cccccc;
  }

  .bloc-presta {
    display: flex;
    margin: 0 0 75px 0;
  }

  .bloc-presta::after {
    content: '.';
    position: absolute;
    top: -0.5em;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5em;
    color: #9a9a9a;
    font-weight: 800;
  }

  .bloc-presta .presta-title,
  .bloc-presta p {
    width: 50%;
  }

  .bloc-presta p.hidden {
    height: 200px;
  }

  .bloc-presta .presta-title:nth-child(odd),
  .bloc-presta p:nth-child(odd) {
    text-align: right;
    padding: 0 2vw 0 0;
  }

  .bloc-presta .presta-title:nth-child(even),
  .bloc-presta p:nth-child(even) {
    padding: 0 0 0 2vw;
  }
}

@media (min-width: 1600px) {
  .bloc-presta {
    margin: 0 0 150px 0;
  }

  .bloc-presta h3 {
    font-size: 1.8em;
  }

  .bloc-presta h4 {
    font-size: 2em;
  }

  .bloc-presta p {
    font-size: 1em;
  }
}

/****************

Blocs prestations - Gradient ending

****************/

.bloc-presta p::after {
  opacity: 0;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -moz-linear-gradient(
    top,
    rgba(229, 229, 229, 0) 0%,
    rgba(229, 229, 229, 0) 50%,
    rgba(229, 229, 229, 1) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(229, 229, 229, 0)),
    color-stop(50%, rgba(229, 229, 229, 0)),
    color-stop(100%, rgba(229, 229, 229, 1))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    rgba(229, 229, 229, 0) 0%,
    rgba(229, 229, 229, 0) 50%,
    rgba(229, 229, 229, 1) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(229, 229, 229, 0) 0%,
    rgba(229, 229, 229, 0) 50%,
    rgba(229, 229, 229, 1) 100%
  );
  /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(229, 229, 229, 0) 0%,
    rgba(229, 229, 229, 0) 50%,
    rgba(229, 229, 229, 1) 100%
  ); /* IE10+ */
  background: linear-gradient(
    to bottom,
    rgba(229, 229, 229, 0) 0%,
    rgba(229, 229, 229, 0) 50%,
    rgba(229, 229, 229, 1) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#e5e5e5',GradientType=0 );
  /* IE6-9 */
  transition: opacity 0.25s;
}

.bloc-presta p.hidden::after {
  opacity: 1;
}

@media (min-width: 800px) {
  .bloc-presta p::after {
    width: 49%;
  }

  .bloc-presta p:nth-child(odd)::after {
    left: 0;
  }

  .bloc-presta p:nth-child(even)::after {
    left: 51%;
  }
}

/****************

Qui suis-je ?

****************/

.qui-suis-je {
  display: grid;
  grid-gap: 2vw;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content repeat(3, auto);
  padding: 0 4vw 8vw 4vw;
}

.qui-suis-je img {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  margin: 0 auto 75px auto;
  width: 225px;
  height: 225px;
}

.qui-suis-je h5 {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  position: relative;
  align-self: flex-end;
  justify-self: center;
  text-transform: uppercase;
  font-style: italic;
  font-size: 2.4em;
  line-height: 1;
  letter-spacing: 2px;
  z-index: 1;
  padding: 0 1em;
  margin-bottom: 50px;
}

.qui-suis-je h5::after {
  content: '';
  background-color: #fff;
  width: 100%;
  height: 150%;
  position: absolute;
  left: -5%;
  right: 0;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  clip-path: polygon(16% 0%, 100% 0, 100% 100%, 8% 100%);
  -webkit-clip-path: polygon(13% 0%, 100% 0, 95% 100%, 8% 100%);
}

.qui-suis-je p {
  text-align: justify;
  font-size: 0.9em;
  margin-bottom: 1.5em;
}

.qui-suis-je p::first-letter {
  float: left;
  font-size: 3em;
  margin: -0.13em 0.1em -0.2em 0;
  font-family: serif;
  font-weight: bold;
}

.qui-suis-je p:nth-of-type(1),
.qui-suis-je p:nth-of-type(2),
.qui-suis-je p:nth-of-type(3),
.qui-suis-je p:nth-of-type(4),
.qui-suis-je p:nth-of-type(5) {
  grid-column: 1 / 4;
}

.qui-suis-je p:nth-of-type(1) {
  grid-row: 2 / 3;
}

.qui-suis-je p:nth-of-type(2) {
  grid-row: 4 / 5;
}

.qui-suis-je p:nth-of-type(3) {
  grid-row: 5 / 6;
}

.qui-suis-je p:nth-of-type(4) {
  grid-row: 6 / 7;
}

.qui-suis-je p:nth-of-type(5) {
  grid-row: 7 / 8;
}

.qui-suis-je a {
  display: inline;
  font-weight: 800;
}

@media (min-width: 800px) {
  .qui-suis-je {
    padding: 0 6vw 6vw 6vw;
  }

  .qui-suis-je img {
    margin: 0 auto 50px auto;
    width: auto;
    height: auto;
  }

  .qui-suis-je h5 {
    margin-bottom: 25px;
  }

  .qui-suis-je p:nth-of-type(1),
  .qui-suis-je p:nth-of-type(2),
  .qui-suis-je p:nth-of-type(3) {
    grid-row: 2 / 3;
  }

  .qui-suis-je p:nth-of-type(1) {
    grid-column: 1 / 2;
  }

  .qui-suis-je p:nth-of-type(2) {
    grid-column: 2 / 3;
  }

  .qui-suis-je p:nth-of-type(3) {
    grid-column: 3 / 4;
  }

  .qui-suis-je p:nth-of-type(4) {
    grid-row: 3 / 4;
  }

  .qui-suis-je p:nth-of-type(5) {
    grid-row: 4 / 5;
  }
}

@media (min-width: 1600px) {
  .qui-suis-je {
    padding: 0 12vw 6vw 12vw;
  }

  .qui-suis-je h5 {
    font-size: 2.8em;
  }

  .qui-suis-je p {
    font-size: 1em;
  }
}
</style>
