<template>
  <div class="main-content-wrapper">
    <transition name="fade" mode="out-in" appear @before-enter="beforeEnter">
      <main v-if="showProjectsList" :key="1" class="main-content">
        <div class="projects-list">
          <div
            v-for="project in projects.masonryElements"
            :id="project.id"
            :key="project.name"
            class="masonry-element"
            :style="
              '--aspect-ratio:' +
                thumbnailsRatios.find(o => o.id == project.id).boxRatio +
                '%'
            "
          >
            <router-link :to="'/mode-et-beaute/' + project.url">
              <LazyLoadVideo
                v-if="project.videoThumb"
                :source="
                  `src/${assetsPath}/${project.url}/${project.videoThumb}`
                "
                :type="'video/mp4'"
                :image="`src/${assetsPath}/${project.url}/${project.thumbnail}`"
                :alt="project.name"
                :autoplay="true"
                :loop="true"
              />
              <LazyLoadImage
                v-else
                :source="
                  `src/${assetsPath}/${project.url}/${project.thumbnail}`
                "
                :alt="project.name"
              />
            </router-link>
          </div>
        </div>
      </main>
      <main
        v-else-if="!showProjectsList"
        :key="2"
        class="main-content project-page"
      >
        <transition
          name="fade"
          mode="out-in"
          appear
          @before-enter="beforeEnter"
        >
          <router-view
            :key="$route.path"
            :project="activeProject"
            :assets-path="assetsPath"
          ></router-view>
        </transition>
        <div class="right-side-page-nav">
          <router-link :to="{ name: 'mode.list' }"><VIconCross /></router-link>
        </div>
      </main>
    </transition>
    <TheFooter />
  </div>
</template>

<script>
import projects from '../data/dataMode.json';
import thumbnailsRatios from '../data/dataMode_MasonryLayout.json';

export default {
  components: {
    LazyLoadImage: () => import('../components/LazyLoadImage.vue'),
    LazyLoadVideo: () => import('../components/LazyLoadVideo.vue'),
    TheFooter: () => import('../components/TheFooter.vue'),
    VIconCross: () => import('../components/VIconCross.vue')
  },
  data() {
    return {
      visibleProjectsList: true,
      projects,
      thumbnailsRatios,
      assetsPath: projects.assetsPath
    };
  },
  computed: {
    activeProject() {
      return this.projects.masonryElements.find(
        o => o.url == this.$route.params.id
      );
    },
    showProjectsList() {
      return this.activeProject === undefined;
    },
    windowSize() {
      return this.$store.getters.getWindowSize;
    }
  },
  methods: {
    beforeEnter() {
      this.$root.$emit('scrollBeforeEnter');
    }
  }
};
</script>

<style>
/****************

CSS Grid Masonry

*****************/

.mode-et-beaute .projects-list {
  padding: 2vw;
  columns: 1;
  column-gap: 2vw;
}

.masonry-element {
  margin-bottom: 2vw;
  background-color: #efefef;
}

.right-side-page-nav {
  position: fixed;
  top: 1vw;
  right: 1vw;
}

@media (min-width: 600px) {
  .mode-et-beaute .projects-list {
    columns: 2;
  }
}

@media (min-width: 1000px) {
  .mode-et-beaute .projects-list {
    columns: 3;
  }
}

@media (min-width: 1600px) {
  .mode-et-beaute .projects-list {
    columns: 4;
  }
}

@supports (--custom: property) {
  [style*='--aspect-ratio'] {
    position: relative;
    break-inside: avoid;
  }

  [style*='--aspect-ratio']::before {
    content: '';
    display: block;
    padding-bottom: var(--aspect-ratio);
  }

  [style*='--aspect-ratio'] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
</style>
