<template>
  <div class="main-content-wrapper">
    <main class="main-content">
      <template v-for="slide in slides.elements">
        <HeroSlide
          v-if="slide.heroSlide"
          :key="slide.key"
          :assets-path="slides.assetsPath"
          :slide="slide"
        />
        <!--<router-link
          v-else
          :key="slide.id"
          class="slide"
          :style="{
            backgroundImage: 'url(' + require('../' + coverPath + slide.img) + ')'
          }"
          :href="slide.url"
        >
          <div class="slide-info" :style="'color:' + slide.color">
            <div class="slide-title">
              <h4>{{ slide.titreBis }}</h4>
              <h3>{{ slide.titre }}</h3>
            </div>
            <p>{{ slide.description }}</p>
          </div>
        </router-link>-->
      </template>
    </main>
  </div>
</template>

<script>
import slides from '../data/dataAccueil.json';

export default {
  components: {
    HeroSlide: () => import('../components/HeroSlide.vue')
  },
  data() {
    return {
      slides
    };
  }
};
</script>

<style>
.home-page .main-content-wrapper {
  width: auto;
  height: 100vh;
  margin: 0;
}

.home-page .main-content {
  width: 100%;
  height: 100%;
}

.slide {
  width: inherit;
  height: inherit;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}

.slide:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  transition: inherit;
  transform: scale(1.01);
}

.slide:hover:before {
  transform: scale(1.02);
}

@media (min-width: 1200px) {
  .slide .slide-info,
  .slide p {
    flex: 50%;
  }

  .slide .slide-info h4 {
    font-weight: 200;
  }

  .slide .slide-info h3 {
    font-size: 21px;
    font-weight: 800;
  }

  .slide .slide-info p {
    font-weight: 200;
    font-style: italic;
    text-align: right;
  }
}
</style>
