<template>
  <div class="main-content-wrapper">
    <main class="main-content">
      <div class="txt-not-found">
        <h1>404</h1>
        <p>
          Oups, le lien que vous avez suivi semble être incorrect... Il se peut
          que la page ait été déplacée, renommée ou supprimée. Pas
          d'inquiétudes, ce n'est pas de votre faute.
        </p>
        <p>
          Vous pouvez revenir sur la page d'accueil
          <router-link to="/">en cliquant ici</router-link>, ou cliquer sur l'un
          des liens suivants qui peuvent vous intéresser :
        </p>
      </div>
      <div class="whats-next">
        <ul>
          <li>
            <router-link to="/mode-et-beaute/lvxjeffkoons">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#333"
                stroke-width="2"
                stroke-linecap="butt"
                stroke-linejoin="round"
              >
                <rect x="3" y="3" width="18" height="18" rx="2" />
                <circle cx="8.5" cy="8.5" r="1.5" />
                <path d="M20.4 14.5L16 10 4 20" />
              </svg>
              Voir un exemple de retouche photo
            </router-link>
          </li>
          <li>
            <router-link to="/mode-et-beaute/video-dior-opale">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#333"
                stroke-width="2"
                stroke-linecap="butt"
                stroke-linejoin="round"
              >
                <rect x="2" y="2" width="20" height="20" rx="2.18" ry="2.18" />
                <line x1="7" y1="2" x2="7" y2="22" />
                <line x1="17" y1="2" x2="17" y2="22" />
                <line x1="2" y1="12" x2="22" y2="12" />
                <line x1="2" y1="7" x2="7" y2="7" />
                <line x1="2" y1="17" x2="7" y2="17" />
                <line x1="17" y1="17" x2="22" y2="17" />
                <line x1="17" y1="7" x2="22" y2="7" />
              </svg>
              Visionner un exemple de montage vidéo
            </router-link>
          </li>
          <li>
            <router-link to="/a-propos">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#333"
                stroke-width="2"
                stroke-linecap="butt"
                stroke-linejoin="round"
              >
                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2" />
                <circle cx="12" cy="7" r="4" />
              </svg>
              En savoir plus à mon propos
            </router-link>
          </li>
        </ul>
      </div>
    </main>
    <TheFooter />
  </div>
</template>

<script>
export default {
  components: {
    TheFooter: () => import('../components/TheFooter.vue')
  }
};
</script>
<style>
.page-not-found .main-content-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.page-not-found main.main-content {
  min-height: 80vh;
  padding: 6vw;
}

.page-not-found main.main-content a {
  display: inline;
  cursor: pointer;
}

.page-not-found .footer {
  align-self: flex-end;
}

.txt-not-found h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 8em;
  font-weight: 800;
  text-align: center;
}

.txt-not-found a {
  font-weight: 800;
}

.txt-not-found p {
  margin: 25px 0;
}

.whats-next {
  margin: 25px 0;
}

.whats-next ul {
  margin: 20px 0;
}

.whats-next li {
  margin: 10px 0;
  line-height: 1.5em;
}

.whats-next a:hover {
  font-weight: 800;
}

@media (min-width: 600px) {
  .page-not-found main.main-content {
    display: flex;
    flex-flow: column wrap;
    align-self: center;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    min-width: 0;
  }

  .whats-next ul {
    min-width: 400px;
  }
}

@media (min-width: 1200px) {
  .txt-not-found h1 {
    text-align: left;
  }

  .txt-not-found p {
    margin: 0;
  }
}
</style>
