<template>
  <component
    :is="project.type"
    :project="project"
    :assets-path="assetsPath"
  ></component>
</template>

<script>
export default {
  components: {
    SinglePageArticle: () => import('../components/SinglePageArticle.vue'),
    SinglePageMasonry: () => import('../components/SinglePageMasonry.vue'),
    SinglePageVideo: () => import('../components/SinglePageVideo.vue')
  },
  props: {
    project: { type: Object, required: true },
    assetsPath: { type: String, required: true }
  }
};
</script>

<style></style>
