<template>
  <div class="main-content-wrapper">
    <main class="main-content">
      <transition name="fade" mode="out-in" appear @before-enter="beforeEnter">
        <div v-if="showProjectsList" :key="1" class="projects-list">
          <div
            v-for="project in projects.elements"
            :key="project.id"
            class="portfolio-items"
            :style="{
              backgroundImage: `url(src/${assetsPath}/${project.url}/${project.thumbnail})`,
              backgroundPosition: '50% ' + project.coverPos
            }"
          >
            <router-link
              :to="{
                path: '/street-et-reportages/' + project.url,
                query: { p: 1 }
              }"
            >
              <div class="portfolio-item-info">
                <h3>
                  <span style="font-weight:800">{{ project.name }}</span>
                  - {{ project.nameBis }}
                </h3>
              </div>
            </router-link>
          </div>
        </div>
        <VExhibit
          v-else-if="!showProjectsList"
          :key="2"
          :assets-path="assetsPath"
          :project="activeProject"
          class="project-page"
        />
      </transition>
    </main>
  </div>
</template>

<script>
import projects from '../data/dataStreet.json';

export default {
  components: {
    VExhibit: () => import('../components/VExhibit.vue')
  },
  data() {
    return {
      visibleProjectsList: true,
      projects,
      assetsPath: projects.assetsPath
    };
  },
  computed: {
    showProjectsList() {
      return this.activeProject === undefined;
    },
    activeProject() {
      return this.projects.elements.find(o => o.url == this.$route.params.id);
    }
  },
  methods: {
    beforeEnter() {
      this.$root.$emit('scrollBeforeEnter');
    }
  }
};
</script>

<style>
.street-et-reportages .projects-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
}

@media (min-width: 800px) {
  .street-et-reportages
    .side-navigation.collapsed
    + .main-content-wrapper
    .projects-list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
}

@media (min-width: 1200px) {
  .street-et-reportages .projects-list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
}

.portfolio-items {
  grid-column-end: span 1;
  grid-row-end: span 1;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  background-position: center;
  background-size: cover;
}

.portfolio-items a {
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.portfolio-items:hover a {
  opacity: 0;
}

.portfolio-item-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease-in-out;
}

.portfolio-items:hover .portfolio-item-info {
  background-color: rgba(0, 0, 0, 0.2);
}

.portfolio-item-info h3 {
  width: 100%;
  padding: 0 3vw;
  font-weight: 300;
  text-align: center;
}
</style>
