<template>
  <div class="main-content-wrapper">
    <main class="main-content">
      <div class="content">
        <h1>Mentions légales</h1>
        <div class="info-generales">
          <h2>1. Informations générales</h2>
          <p>
            Conformément aux dispositions des articles 6-III et 19 de la Loi n°
            2004-575 du 21 juin 2004 pour la confiance dans l’économie
            numérique, dite L.C.E.N., je porte à la connaissance des
            utilisateurs et visiteurs du site florianlefeuvre.github.io les
            informations suivantes :
          </p>
          <div class="list-wrapper">
            <div>
              <h3>Coordonnées de l'entreprise</h3>
              <ul>
                <li>Florian LEFEUVRE</li>
                <li>Entreprise domiciliée à Ernée (53)</li>
                <li>N°SIRET : 799 697 057 00013</li>
                <li>Statut : Micro-entrepreneur</li>
                <li>Email de contact : florianl.pro@gmail.com</li>
              </ul>
            </div>
            <div>
              <h3>Création & intégrations</h3>
              <ul>
                <li>Réalisation du site : Florian LEFEUVRE</li>
                <li>Adresse du site : florianlefeuvre.github.io</li>
                <li>Réalisé avec le framework JavaScript Vue JS</li>
                <li>Directeur de la publication : Florian LEFEUVRE</li>
                <li>Webmaster : Florian LEFEUVRE</li>
              </ul>
            </div>
            <div>
              <h3>Prestataire d'hébergement</h3>
              <ul>
                <li>Github</li>
                <li>
                  88 Colin P Kelly Jr St, San Francisco, CA 94107, États-Unis
                </li>
                <li>Site internet : www.github.com</li>
              </ul>
            </div>
          </div>
          <h3>Remerciements</h3>
          <p>
            Merci à
            <a
              href="https://www.kevinpainchaud.fr/"
              target="_blank"
              class="bold"
              >Kévin Painchaud</a
            >
            pour son aide précieuse concernant les bonnes pratiques de
            développement front-end.
          </p>
        </div>
        <div class="loi-info-libertes">
          <h2>2. Loi informatique & libertés</h2>
          <h3>Protection de la vie privée</h3>
          <p>
            Vos données personnelles sont protégées par la loi n° 78-87 du 6
            janvier 1978, la loi n° 2004-801 du 6 août 2004, l’article L. 226-13
            du Code pénal et la directive européenne du 25 mai 2018.
          </p>
          <p>
            À ce jour, il n'existe aucun formulaire me permettant de recueillir
            vos données personnelles sur florianlefeuvre.github.io. Aucune de
            vos données n’est donc récoltée. Si d'aventure un formulaire de
            contact venait s'ajouter à la liste des fonctionnalités de ce site,
            les informations personnelles recueillies seraient alors destinées à
            un usage strictement interne. Aucune information personnelle ne
            serait donc cédée ni vendue à un tiers.
          </p>
          <h3>Cookies</h3>
          <p>
            Un cookie est un fichier de petite taille identifié par un nom et
            transmis à votre navigateur par un site web sur lequel vous vous
            connectez. Ce dernier peut contenir diverses informations d'ordre
            technique, statistique ou publicitaire. Votre navigateur le
            conservera et le renverra au serveur web chaque fois que vous vous y
            re-connecterez jusqu'à sa disparition conditionnée selon une
            certaine durée.
          </p>
          <p>
            Il n'existe aucun cookies sur le site florianlefeuvre.github.io.
          </p>
        </div>
        <div class="objet">
          <h2>3. Objet</h2>
          <p>
            Le site florianlefeuvre.github.io a pour objet de fournir des
            informations concernant l’ensemble des activités de la société.
            Florian LEFEUVRE s’efforce de fournir sur le site
            florianlefeuvre.github.io des informations aussi précises que
            possible. Toutefois, il ne pourra être tenu responsable des
            omissions, des inexactitudes et des carences dans la mise à jour,
            qu’elles soient de son fait ou du fait des tiers partenaires qui lui
            fournissent ces informations.
          </p>
          <p>
            Toutes les informations indiquées sur le site
            florianlefeuvre.github.io sont données à titre indicatif, et sont
            susceptibles d’évoluer. Par ailleurs, les renseignements figurant
            sur le site florianlefeuvre.github.io ne sont pas exhaustifs. Ils
            sont donnés sous réserve de modifications ayant été apportées depuis
            leur mise en ligne.
          </p>
        </div>
        <div class="propriete-int">
          <h2>4. Propriété intellectuelle et contrefaçons</h2>
          <p>
            Florian LEFEUVRE est propriétaire des droits de propriété
            intellectuelle ou détient les droits d’usage sur tous les éléments
            accessibles sur le site, notamment les textes, images, graphismes,
            logos, icônes. Toute reproduction, représentation, modification,
            publication, adaptation de tout ou partie des éléments du site, quel
            que soit le moyen ou le procédé utilisé, est interdite, sauf
            autorisation écrite préalable de : Florian LEFEUVRE.
          </p>
          <p>
            Toute exploitation non autorisée du site ou de quelconque des
            éléments qu’il contient sera considérée comme constitutive d’une
            contrefaçon et poursuivie conformément aux dispositions des articles
            L.335-2 et suivants du Code de propriété intellectuelle. Liens : Le
            site florianlefeuvre.github.io peut contenir des liens vers d’autres
            sites dont il n’exploite pas le contenu. En aucune manière, Florian
            LEFEUVRE ne peut être tenue responsable du contenu, publicités,
            produits, services ou tout autre matériel disponible sur ou à partir
            de ces sites ou sources externes qui ne sont ni vérifiés ni
            approuvés par elle.
          </p>
        </div>
      </div>
    </main>
    <TheFooter />
  </div>
</template>

<script>
export default {
  components: {
    TheFooter: () => import('../components/TheFooter.vue')
  }
};
</script>

<style>
.mentions-legales .content {
  padding: 0 4vw;
}

.mentions-legales .content > div {
  padding-bottom: 40px;
}

.mentions-legales .content h1,
.mentions-legales .content h2,
.mentions-legales .content h3 {
  font-weight: 800;
}

.mentions-legales .content h1 {
  font-size: 3em;
  padding: 4vw 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.mentions-legales .content h2 {
  font-size: 1.5em;
  padding-bottom: 20px;
}
.mentions-legales .content h3 {
  font-size: 1.2em;
  padding: 20px 0;
}

.mentions-legales .content ul {
  margin-left: 2em;
  list-style: initial;
}

.mentions-legales .content ul,
.mentions-legales .content p {
  padding-bottom: 20px;
}

.mentions-legales .content a {
  display: inline;
}

.info-generales .list-wrapper,
.mentions-legales .content p {
  margin-left: 20px;
}

.info-generales .list-wrapper {
  display: grid;
  grid-gap: 2vw;
  grid-template: repeat(3, 1fr) / 1fr;
}

@media (min-width: 800px) {
  .info-generales .list-wrapper {
    grid-template: 1fr / repeat(3, 1fr);
  }

  .info-generales .list-wrapper div:last-child {
    grid-column: auto;
  }
}

@media (min-width: 1600px) {
  .mentions-legales .content {
    padding: 0 8vw;
  }
}
</style>
