<template>
  <router-link
    :key="slide.id"
    :to="{ name: 'a-propos' }"
    class="hero-slide"
    :style="{
      backgroundImage: `url(src/${assetsPath}/${slide.img})`
    }"
  >
    <div class="slide-info" :style="'color:' + slide.color">
      <h3 class="slide-title">{{ slide.title }}</h3>
      <div class="scrolling-text-mask">
        <div class="scrolling-text-wrapper">
          <h4
            v-for="element in slide.scrollingTitles"
            :key="element"
            class="scrolling-text"
          >
            {{ element }}
          </h4>
        </div>
      </div>
    </div>
  </router-link>
</template>

<script>
export default {
  props: {
    slide: { type: Object, required: true },
    assetsPath: { type: String, required: true }
  },
  data() {
    return {
      interval: null
    };
  },
  mounted() {
    this.infiniteScroll();
  },
  beforeDestroy() {
    clearInterval(this.interval);
  },
  methods: {
    infiniteScroll() {
      let scrollingWrapper = document.getElementsByClassName(
        'scrolling-text-wrapper'
      );
      // On initialise la variable newEm correspondant à la nouvelle valeur Em
      // qui sera injectée dans translateY à chaque cycle
      let newEm = 0;
      // On initialise la variable emIncr correspondant à l'incrémentation en Em
      // injecté dans newEm à chaque cycle correspondant
      // à la valeur height de la div parent #scrolling-text-mask
      let emIncr = 4;
      // On initialise un compteur de cycles
      // qui sera en phase avec le nombre de textes à faire défiler
      let cycleCount = 1;

      // On créer une intervalle que l'on stock dans un objet
      // que l'on passera comme argument dans un clearInterval
      // avant de changer de page afin de prévenir une fuite de mémoire
      this.interval = setInterval(() => {
        // On incrémente le compteur à chaque début de cycle
        cycleCount++;
        // On incrémente newEm à chaque début de cycle avec emIncr
        newEm = newEm - emIncr;
        // Puis nous injecterons newEm dans le CSS plus tard
        // afin d'obtenir un effet de scrolling par intervalle

        // Avant, on vérifie si le scrolling atteint
        // le dernier élément de la liste des textes
        if (cycleCount == scrollingWrapper[0].children.length) {
          // Si oui, alors on créer une nouvelle div
          let newWrapper = document.createElement('div');
          // qui aura la même class que le wrapper des textes existant
          newWrapper.className = 'scrolling-text-wrapper';
          // ainsi que le même contenu
          newWrapper.innerHTML = scrollingWrapper[0].innerHTML;
          // puis, on l'injecte dans le DOM à la suite du premier wrapper
          document
            .getElementsByClassName('scrolling-text-mask')[0]
            .appendChild(newWrapper);
        }

        // Ensuite, on créer une boucle
        // pour agir sur toutes les divs .scrolling-text-wrapper
        // (il peut y en avoir un ou deux suivant le cycle)
        for (const element of scrollingWrapper) {
          // On créer une transition d'une seconde sur ces derniers
          element.style.transition = 'transform 1s';
          // Et on les déplace vers le haut grâce
          // à la variable newEm incrémentée avec emIncr au début du cycle
          element.style.transform = 'translateY(' + newEm + 'em)';
        }

        // Enfin, on vérifie si le scrolling
        // atteint le premier élément de la nouvelle liste
        if (cycleCount == scrollingWrapper[0].children.length + 1) {
          // Si oui, alors on réinitialise les variables cycleCount et newEm
          newEm = 0;
          cycleCount = 1;
          // Et on attend la fin de la transition en cours grâce au Timeout
          setTimeout(function() {
            // Puis on supprime la première liste devenue inutile
            document
              .getElementsByClassName('scrolling-text-mask')[0]
              .removeChild(scrollingWrapper[0]);
            // Et on réinitialise la position de la nouvelle div
            // sans transition visible, avant de recommencer à zéro
            scrollingWrapper[0].style.transition = 'none';
            scrollingWrapper[0].style.transform = 'translateY(' + newEm + 'em)';
          }, 1000);
        }
      }, 3000);
    }
  }
};
</script>

<style>
.hero-slide {
  width: inherit;
  height: inherit;
  background-size: cover;
  background-position: 60%;
  overflow: hidden;
  position: relative;
}

.hero-slide .slide-info {
  width: 100%;
  height: 100%;
  background: url(../assets/img/accueil/motif.png) repeat top left;
  background-color: rgba(0, 0, 0, 0.4);

  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-slide .slide-info h3 {
  font-size: 28px;
  font-weight: 200;
}

.hero-slide .scrolling-text-mask {
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  height: 4em;
}

.hero-slide .scrolling-text-wrapper h4 {
  white-space: nowrap;
  position: relative;
  line-height: 2em;
  font-size: 2em;
  font-weight: 800;
}

.hero-slide .slide-info > * {
  display: none;
}

@media (min-width: 1200px) {
  .hero-slide .slide-info {
    pointer-events: none;
    padding: 1vw 2vw;
  }

  .hero-slide .slide-info > * {
    display: block;
  }

  .hero-slide .slide-info h4,
  .hero-slide .slide-info h3,
  .hero-slide .slide-info p {
    position: relative;
  }
}
</style>
