<template>
  <figure v-lazyload class="img-wrapper loading" :class="figClass">
    <VSpinner class="lazy-load-spinner" />
    <img :class="imgClass" :data-src="source" :alt="alt" />
    <figcaption v-if="figCaption" :class="figCaptionClass">
      {{ figCaption }}
    </figcaption>
  </figure>
</template>

<script>
import LazyLoad from '../directives/LazyLoad.js';
import VSpinner from './VSpinner.vue';

export default {
  directives: {
    lazyload: LazyLoad
  },
  components: {
    VSpinner
  },
  props: {
    source: {
      type: String,
      required: true
    },
    alt: {
      type: String,
      required: true
    },
    imgClass: {
      type: String,
      default: null
    },
    figCaption: {
      type: String,
      default: null
    },
    figClass: {
      type: String,
      default: null
    },
    figCaptionClass: {
      type: String,
      default: null
    }
  }
};
</script>

<style>
.img-wrapper {
  position: relative;
}

.img-wrapper img {
  width: 100%;
  transition: all 0.4s ease-in-out;
  opacity: 1;
  visibility: visible;
}

.img-wrapper.loading img {
  opacity: 0;
  visibility: hidden;
}

.lazy-load-spinner {
  position: absolute;
  display: none;
}

.loading .lazy-load-spinner {
  display: flex;
}
</style>
