<template>
  <div v-lazyload class="video-wrapper loading">
    <VSpinner class="lazy-load-spinner" />
    <video
      :class="videoClass"
      :data-src="source"
      :poster="image"
      :type="type"
      :autoplay="autoplay"
      :loop="loop"
    >
      <LazyLoadImage :source="image" :alt="alt" />
    </video>
  </div>
</template>

<script>
import LazyLoad from '../directives/LazyLoad.js';
import VSpinner from './VSpinner.vue';
import LazyLoadImage from './LazyLoadImage.vue';

export default {
  directives: {
    lazyload: LazyLoad
  },
  components: {
    LazyLoadImage,
    VSpinner
  },
  props: {
    source: {
      type: String,
      required: true
    },
    type: {
      type: String,
      required: true
    },
    image: {
      type: String,
      required: true
    },
    alt: {
      type: String,
      required: true
    },
    autoplay: {
      type: Boolean,
      default: false
    },
    loop: {
      type: Boolean,
      default: false
    },
    videoClass: {
      type: String,
      default: null
    }
  }
};
</script>

<style>
.video-wrapper {
  position: relative;
}

.video-wrapper video {
  width: 100%;
  transition: all 0.4s ease-in-out;
  opacity: 1;
  visibility: visible;
}

.video-wrapper.loading video {
  opacity: 0;
  visibility: hidden;
}

.lazy-load-spinner {
  position: absolute;
  display: none;
}

.loading .lazy-load-spinner {
  display: flex;
}
</style>
