<template>
  <div class="single-page-video">
    <template v-for="(value, key) in project">
      <div
        v-if="isDescr(key)"
        :key="key"
        class="project-description"
        v-html="value"
      ></div>
      <div v-else-if="isVideo(key)" :key="key" class="project-video">
        <video
          :src="`/src/${assetsPath}/${project.url}/${value}`"
          :alt="value"
          :poster="`/src/${assetsPath}/${project.url}/${project.thumbnail}`"
          type="video/mp4"
          preload="auto"
          controls
          autobuffer
        ></video>
      </div>
    </template>
  </div>
</template>

<script>
export default {
  props: {
    assetsPath: { type: String, required: true },
    project: { type: Object, required: true }
  },
  data() {
    return {};
  },
  methods: {
    isVideo: function(key) {
      return /^(full)*video[0-9]*$/gim.test(key);
    },
    isDescr: function(key) {
      return /^(full)*descr[0-9]*$/gim.test(key);
    }
  }
};
</script>

<style>
.single-page-video {
  display: flex;
  flex-flow: row wrap;
}

.single-page-video > * {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  flex: 1 100%;
}

.single-page-video .project-video {
  padding: 0 4vw;
}

.single-page-video .project-description {
  padding: 4vw;
}

.single-page-video .project-description:nth-child(1) {
  padding: 1.5vw 4vw;
}

.single-page-video .project-description h1 {
  font-size: 42px;
  font-style: italic;
  align-self: baseline;
}

.single-page-video .project-description p {
  width: 100%;
  font-weight: 400;
  text-align: justify;
  text-indent: 1.5em;
  line-height: 2.5em;
  margin-bottom: 40px;
}
</style>
