<template>
  <div class="single-page-masonry">
    <div class="project-description" v-html="project.descr"></div>
    <div class="project-masonry-wrapper">
      <template v-for="(value, key) in project">
        <div v-if="isImg(key)" :key="key" class="project-img">
          <img
            :src="`/src/${assetsPath}/${project.url}/${value}`"
            :alt="project.name"
          />
        </div>
        <div v-else-if="isVideo(key)" :key="key" class="project-video">
          <video
            :src="`/src/${assetsPath}/${project.url}/${value}`"
            :alt="project.name"
            :poster="`/src/${assetsPath}/${project.url}/${project.thumbnail}`"
            type="video/mp4"
            preload="auto"
            controls
            autobuffer
          ></video>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    assetsPath: { type: String, required: true },
    project: { type: Object, required: true }
  },
  methods: {
    isImg: function(key) {
      return /^img[0-9]*$/gim.test(key);
    },
    isVideo: function(key) {
      return /^video[0-9]*$/gim.test(key);
    }
  }
};
</script>

<style>
.single-page-masonry {
  display: flex;
  flex-flow: row wrap;
}

.single-page-masonry > * {
  justify-content: center;
}

.project-masonry-wrapper {
  margin: auto;
  padding: 0 6vw 2vw 6vw;
  columns: 2;
  column-gap: 2vw;
}

.project-masonry-wrapper .project-img {
  margin-bottom: 2vw;
}

.project-masonry-wrapper .project-img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.single-page-masonry .project-description {
  display: flex;
  flex-flow: row wrap;
  padding: 2vw 6vw;
}

.single-page-masonry .project-description h1 {
  font-size: 48px;
  font-style: italic;
  align-self: baseline;
  margin-bottom: 48px;
  background-color: white;
  padding: 0 1vw;
}

.single-page-masonry .project-description p {
  width: 100%;
  font-weight: 400;
  text-align: justify;
  text-indent: 1.5em;
  line-height: 2.5em;
  margin-bottom: 40px;
}

.single-page-masonry .project-description .left-col,
.single-page-masonry .project-description .right-col {
  flex: 1 50%;
  text-align: center;
  text-indent: 0;
}

.single-page-masonry .project-description .left-col {
  padding-right: 2vw;
}

.single-page-masonry .project-description .right-col {
  padding-left: 2vw;
}

@media (max-width: 1600px) {
  .single-page-masonry .project-description h1 {
    font-size: 38px;
  }
  .single-page-masonry .project-description p {
    font-size: 15px;
  }
}

@media (max-width: 1200px) {
  .single-page-masonry .project-description .left-col,
  .single-page-masonry .project-description .right-col {
    display: none;
  }
  .project-masonry-wrapper {
    padding: 0 4vw 2vw 4vw;
  }
  .single-page-masonry .project-description {
    padding: 2vw 4vw;
  }
}

@media (max-width: 800px) {
  .project-masonry-wrapper {
    columns: 1;
  }
}
</style>
