<template>
  <div class="single-page-article">
    <template v-for="(value, key) in project">
      <div
        v-if="isImg(key)"
        :key="key"
        :class="{ 'full-width': isFullWidth(key) }"
        class="project-img"
      >
        <img :src="`/src/${assetsPath}/${project.url}/${value}`" :alt="value" />
      </div>

      <div
        v-else-if="isDescr(key)"
        :key="key"
        :class="{ 'full-width': isFullWidth(key) }"
        class="project-description"
        v-html="value"
      ></div>
      <div
        v-else-if="isVideo(key)"
        :key="key"
        :class="{ 'full-width': isFullWidth(key) }"
        class="project-video"
      >
        <video
          :src="`/src/${assetsPath}/${project.url}/${value}`"
          :alt="value"
          :poster="`/src/${assetsPath}/${project.url}/${project.thumbnail}`"
          type="video/mp4"
          preload="auto"
          controls
          autobuffer
        ></video>
      </div>
    </template>
  </div>
</template>

<script>
export default {
  props: {
    assetsPath: { type: String, required: true },
    project: { type: Object, required: true }
  },
  methods: {
    isImg: function(key) {
      return /^(full)*img[0-9]*$/gim.test(key);
    },
    isVideo: function(key) {
      return /^(full)*video[0-9]*$/gim.test(key);
    },
    isDescr: function(key) {
      return /^(full)*descr[0-9]*$/gim.test(key);
    },
    isFullWidth: function(key) {
      return /^full/gim.test(key);
    }
  }
};
</script>

<style>
.single-page-article {
  display: flex;
  flex-flow: row wrap;
}

.single-page-article > * {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  flex: 1 100%;
  padding: 2vw 4vw;
}

@media (min-width: 1000px) {
  .side-navigation.collapsed + .main-content-wrapper .single-page-article > * {
    flex: 1 50%;
  }

  .single-page-article > * {
    flex: 1 100%;
  }
}

@media (min-width: 1400px) {
  .single-page-article > * {
    flex: 1 50%;
  }

  .single-page-article > .project-img:not(.full-width):nth-child(1),
  .single-page-article > .project-img:not(.full-width):nth-child(2) {
    height: 100vh;
    margin-bottom: 0;
  }

  .single-page-article > *:not(.full-width):nth-child(odd) {
    padding: 4vw 2vw 4vw 4vw;
  }

  .single-page-article > *:not(.full-width):nth-child(even) {
    padding: 4vw 4vw 4vw 2vw;
  }
}

.single-page-article .project-img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.single-page-article .project-description h1 {
  font-size: 48px;
  font-style: italic;
  align-self: baseline;
  margin-bottom: 48px;
}

.single-page-article .project-description p {
  width: 100%;
  font-weight: 400;
  text-align: justify;
  text-indent: 1.5em;
  line-height: 2.5em;
  margin-bottom: 40px;
}
.single-page-article .full-width {
  flex: 1 100%;
  text-align: center;
}

.single-page-article .full-width:last-child {
  margin-bottom: 0;
}

.single-page-article .full-width img {
  width: 100%;
}

.single-page-article .full-width h1,
.single-page-article .full-width p {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}
</style>
