<template>
  <footer class="footer">
    <p class="copyright">&copy; 2024 Florian Lefeuvre. All rights reserved.</p>
    <router-link class="mentions-legales" to="/mentions-legales"
      >Mentions légales</router-link
    >
    <ul class="reseaux-sociaux">
      <li>
        <a href="https://www.instagram.com/florian_lefeuvre/" target="_blank">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="#888"
          >
            <path
              d="M16.98 0a6.9 6.9 0 0 1 5.08 1.98A6.94 6.94 0 0 1 24 7.02v9.96c0 2.08-.68 3.87-1.98 5.13A7.14 7.14 0 0 1 16.94 24H7.06a7.06 7.06 0 0 1-5.03-1.89A6.96 6.96 0 0 1 0 16.94V7.02C0 2.8 2.8 0 7.02 0h9.96zm.05 2.23H7.06c-1.45 0-2.7.43-3.53 1.25a4.82 4.82 0 0 0-1.3 3.54v9.92c0 1.5.43 2.7 1.3 3.58a5 5 0 0 0 3.53 1.25h9.88a5 5 0 0 0 3.53-1.25 4.73 4.73 0 0 0 1.4-3.54V7.02a5 5 0 0 0-1.3-3.49 4.82 4.82 0 0 0-3.54-1.3zM12 5.76c3.39 0 6.2 2.8 6.2 6.2a6.2 6.2 0 0 1-12.4 0 6.2 6.2 0 0 1 6.2-6.2zm0 2.22a3.99 3.99 0 0 0-3.97 3.97A3.99 3.99 0 0 0 12 15.92a3.99 3.99 0 0 0 3.97-3.97A3.99 3.99 0 0 0 12 7.98zm6.44-3.77a1.4 1.4 0 1 1 0 2.8 1.4 1.4 0 0 1 0-2.8z"
            />
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/florianlefeuvre/" target="_blank">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="#888"
          >
            <path
              d="M20 0a4 4 0 0 1 4 4v16a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4a4 4 0 0 1 4-4h16zM8.95 9.4H6.16v8.1h2.8V9.4zm6.84-.19c-1.32 0-2 .63-2.38 1.16l-.13.18V9.4h-2.79l.01.49V17.5h2.78v-4.52a1.52 1.52 0 0 1 1.52-1.64c.96 0 1.37.66 1.41 1.66v4.5H19v-4.64c0-2.49-1.37-3.65-3.2-3.65zM7.58 5.5C6.62 5.5 6 6.1 6 6.9c0 .73.54 1.32 1.38 1.4h.18c.97 0 1.57-.62 1.57-1.4-.01-.8-.6-1.4-1.55-1.4z"
            />
          </svg>
        </a>
      </li>
    </ul>
  </footer>
</template>

<script>
export default {
  data() {
    return {};
  }
};
</script>

<style>
.footer {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  padding: 15px 25px 10px 25px;
  border-top: 5px solid #dadada;
  background-color: #efefef;
  color: #888;
  font-weight: 500;
}

.footer > * {
  font-size: 0.95em;
  text-align: center;
  padding: 0 0 5px 0;
}

.copyright {
  font-size: 0.9em;
}

.reseaux-sociaux {
  display: flex;
  justify-content: center;
}

.reseaux-sociaux li {
  padding: 0 10px;
}

@media (min-width: 800px) {
  .footer {
    flex-flow: row wrap;
    align-items: center;
  }

  .footer > * {
    flex: 1;
    text-align: center;
  }

  .footer p:first-child {
    text-align: left;
  }

  .footer p:last-child {
    text-align: right;
  }
}
</style>
