<template>
  <header
    class="side-navigation"
    :class="{
      collapsed: isCollapsed
    }"
  >
    <button
      type="button"
      class="side-navigation__show-menu"
      @click="switchMenu"
    >
      <VIconMenuCollapse />
    </button>

    <nav class="side-navigation__menu">
      <router-link class="side-navigation__menu__logo" to="/">
        <VLogoFL class="side-navigation__menu__logo-img" />
        <div class="side-navigation__menu__logo-title">
          <h1>FLORIAN LEFEUVRE</h1>
          <h2>Photography & Film Editing</h2>
        </div>
      </router-link>

      <ul class="side-navigation__menu__list">
        <li>
          <router-link to="/mode-et-beaute">Mode & Beauté</router-link>
        </li>
        <li>
          <router-link to="/street-et-reportages"
            >Street & Reportages</router-link
          >
        </li>
        <li>
          <router-link to="/a-propos">A propos</router-link>
        </li>
      </ul>
    </nav>
  </header>
</template>

<script>
export default {
  components: {
    VLogoFL: () => import('../components/VLogoFL.vue'),
    VIconMenuCollapse: () => import('../components/VIconMenuCollapse.vue')
  },
  props: {
    pageClass: { type: String, required: true }
  },
  data() {
    return {
      manualCollapse: false
    };
  },
  computed: {
    windowSize() {
      return this.$store.getters.getWindowSize;
    },
    isCollapsed() {
      // Si l'on est sur la page home page
      // ou sur une résolution supérieure ou égale à 1200px,
      // alors le menu n'est jamais collapsed
      if (this.pageClass == 'home-page' || this.windowSize.width >= 1200) {
        return false;
      } else {
        // Sinon, tout dépendra de la variale manualCollapse
        // modifiable via un clic par l'utilisateur et la surveillance du routeur
        return this.manualCollapse;
      }
    }
  },
  watch: {
    $route(to) {
      if (to.name == 'home-page') {
        this.manualCollapse = false;
      } else {
        this.manualCollapse = true;
      }
    }
  },
  methods: {
    switchMenu() {
      this.manualCollapse = !this.manualCollapse;
    }
  }
};
</script>

<style>
header.side-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-right: 0;
  padding-bottom: 15vh;
  z-index: 9999;
  overflow: hidden;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  background-color: rgba(255, 255, 255, 1);
  color: #333333;
  transition: all 0.6s ease, background-color 0.3s ease;
}

header.side-navigation.collapsed {
  left: -300px;
  width: 350px;
  padding-right: 50px;
}

header.side-navigation > div {
  width: 100%;
}

.home-page header.side-navigation {
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff;
}

.home-page.fade-translate-leave-active header.side-navigation {
  color: #333333;
}

@media (min-width: 1200px) {
  header.side-navigation {
    width: 350px;
    left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1600px) {
  header.side-navigation,
  .home-page header.side-navigation {
    width: 400px;
    left: 0;
    padding-right: 0;
  }
}

@media (min-width: 2000px) {
  header.side-navigation,
  .home-page header.side-navigation {
    width: 22vw;
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
  }
}

.side-navigation__show-menu {
  display: block;
  width: 50px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 0;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  z-index: 9999;

  border: none;
  margin: 0;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

.home-page .side-navigation__show-menu {
  display: none;
}

@media (min-width: 1200px) {
  .side-navigation__show-menu {
    display: none;
  }
}

/*********************

Side nav menu Logo

**********************/

.side-navigation__menu {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-end;
}

a.side-navigation__menu__logo {
  display: flex;
}

svg.side-navigation__menu__logo-img {
  width: 55px;
  margin: auto;
}

div.side-navigation__menu__logo-title {
  position: relative;
  margin: 5px 0 0 15px;
}

div.side-navigation__menu__logo-title h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 900;
}

div.side-navigation__menu__logo-title h2 {
  font-size: 15px;
}

ul.side-navigation__menu__list {
  display: block;
  position: relative;
  padding-top: 4vh;
}

ul.side-navigation__menu__list a {
  color: inherit;
}

ul.side-navigation__menu__list li {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0.95em;
  width: 250px;
  height: 2em;
  padding-left: 60px;
}

ul.side-navigation__menu__list li .router-link-active {
  font-weight: 900;
}
</style>
