<template>
  <div class="exhibition">
    <div class="media-frame">
      <transition name="fade">
        <div v-for="q in [queryPicture]" :key="q" class="media">
          <img
            v-if="getProjectElement.img"
            :src="`/src/${assetsPath}/${project.url}/${getProjectElement.img}`"
            :alt="project.name"
          />
          <video
            v-else-if="getProjectElement.video"
            :src="
              `/src/${assetsPath}/${project.url}/${getProjectElement.video}`
            "
            :alt="project.name"
            :poster="`/src/${assetsPath}/${project.url}/${project.thumbnail}`"
            type="video/mp4"
            preload="auto"
            controls
            autobuffer
          />
        </div>
      </transition>
    </div>
    <div class="bottom-nav">
      <div class="previous-page">
        <router-link
          v-show="queryPicture > 1"
          :to="{ query: { p: queryPicture - 1 } }"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="50"
            height="50"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#333"
            stroke-width="1"
          >
            <path d="M15 18l-6-6 6-6" />
          </svg>
        </router-link>
      </div>
      <div class="media-description">
        <div class="media-title">
          <h2>{{ project.name }}</h2>
          <p>
            {{ project.nameBis }}
            {{ getProjectElement.date ? ' - ' + getProjectElement.date : '' }}
          </p>
        </div>
        <div v-if="getProjectElement.descr" class="media-description">
          <p>{{ getProjectElement.descr }}</p>
        </div>
      </div>
      <div class="next-page">
        <router-link
          v-show="queryPicture < project.elements.length"
          :to="{ query: { p: queryPicture + 1 } }"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="50"
            height="50"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#333"
            stroke-width="1"
          >
            <path d="M9 18l6-6-6-6" />
          </svg>
        </router-link>
      </div>
    </div>
    <div class="right-side-nav">
      <router-link class="close-page" :to="{ name: 'street.list' }">
        <VIconCross />
      </router-link>
      <div class="page-number">
        <input
          v-model="queryPicture"
          :placeholder="queryPicture"
          type="Number"
          onkeypress="return event.charCode >= 48 && event.charCode <= 57"
          min="1"
          :max="project.elements.length"
          maxlength="2"
          oninput="this.value=this.value.slice(0,this.maxLength)"
          required
        />
        <hr />
        <p>{{ project.elements.length }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    VIconCross: () => import('../components/VIconCross.vue')
  },
  props: {
    assetsPath: { type: String, required: true },
    project: { type: Object, required: true }
  },
  computed: {
    getProjectElement() {
      return this.project.elements[this.queryPicture - 1];
    },
    queryPicture: {
      get: function() {
        return Number(this.$route.query.p);
      },
      set: function(value) {
        if (
          value !== 0 &&
          value !== '' &&
          value <= this.project.elements.length
        ) {
          this.$router.push({ query: { p: value } });
        }
      }
    }
  },
  mounted() {
    window.addEventListener('keydown', this.keyNavigation);
  },
  beforeDestroy() {
    window.removeEventListener('keydown', this.keyNavigation);
  },
  methods: {
    keyNavigation(value) {
      if (!this.showProjectsList) {
        if (value.keyCode == 37) {
          this.queryPicture = Number(this.$route.query.p) - 1;
        }
        if (value.keyCode == 39) {
          this.queryPicture = Number(this.$route.query.p) + 1;
        }
        if (value.keyCode == 27) {
          this.$router.push({ name: 'street.list' });
        }
      }
    }
  }
};
</script>

<style>
.exhibition {
  display: flex;
  flex-flow: row wrap;
}

.exhibition .media-frame {
  position: relative;
  width: 100%;
  padding: 3vw calc(2vw + 50px) 0 3vw;
  height: 85vh;
}

.exhibition .media-frame .media {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 3vw;
  left: 3vw;
  right: calc(2vw + 50px);
  bottom: 0;
}

.exhibition .media-frame .media img,
.exhibition .media-frame .media video {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.exhibition .bottom-nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 15vh;
  min-height: 50px;
}

.exhibition .bottom-nav .previous-page,
.exhibition .bottom-nav .next-page {
  flex: 1;
  display: block;
  width: 80px;
  padding: 15px 0;
  font-size: 28px;
  margin: auto;
  text-align: center;
}

.exhibition .bottom-nav .media-description {
  flex: 3;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.exhibition .bottom-nav .media-description > :first-child {
  flex: 1;
}

.exhibition .bottom-nav .media-description > :last-child {
  flex: 2;
}

.exhibition .bottom-nav .media-description h2 {
  font-weight: 800;
  display: inline-block;
  background-color: white;
  padding: 0 0.5vw;
}

.exhibition .bottom-nav .media-description p {
  font-weight: 400;
}

.exhibition .right-side-nav {
  position: absolute;
  top: 1vw;
  right: 1vw;
}

.exhibition .right-side-nav .page-number {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 20px 0;
}

.exhibition .right-side-nav .page-number > * {
  flex: 1;
  text-align: center;
  font-size: 16px;
  width: 30px;
}

.exhibition .right-side-nav .page-number input {
  border: 0;
  margin-bottom: 10px;
  font-family: 'Jost';
  color: #444444;
}

.exhibition .right-side-nav .page-number p {
  padding-top: 5px;
}

.exhibition
  .right-side-nav
  .page-number
  input[type='number']::-webkit-inner-spin-button,
.exhibition
  .right-side-nav
  .page-number
  input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.exhibition .right-side-nav .page-number input[type='number'] {
  -moz-appearance: textfield;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.9s ease;
  overflow: hidden;
  visibility: visible;
  opacity: 1;
}

.fade-enter,
.fade-leave-to {
  visibility: hidden;
  opacity: 0;
}
</style>
