<template>
  <svg
    id="logo-fl"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 100 121.5"
    xml:space="preserve"
  >
    <path id="bulle" d="M97 97H60v18L38.9 97H3V3h94z" stroke-width="6" />
    <path id="fl" d="M33 56h12M27 74V32h36v36h18" stroke-width="12" />
  </svg>
</template>

<script>
export default {};
</script>

<style>
#logo-fl path {
  stroke: #333;
  fill: none;
  transition: stroke 0.6s ease;
}

.home-page #logo-fl path {
  stroke: #fff;
}

.home-page.fade-translate-leave-active #logo-fl path {
  stroke: #333;
}
</style>
