<template>
  <div class="spinner-wrapper">
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      width="20px"
      height="20px"
      viewBox="0 0 20 20"
      xml:space="preserve"
    >
      <circle
        class="animate-spin"
        cx="10"
        cy="10"
        r="9"
        stroke="#999"
        stroke-width="2"
        stroke-dasharray="7"
        stroke-linecap="round"
        fill="none"
      ></circle>
    </svg>
  </div>
</template>

<script>
export default {};
</script>

<style>
.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10%;
}

.animate-spin {
  transform-origin: center;
  animation: spin 1.5s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}
</style>
