<template>
  <div class="app-wrapper" :class="[pageClass, reflectedTransitionClass]">
    <TheHeader @pageClass="pageClass" />
    <transition
      name="fade-translate"
      mode="out-in"
      appear
      @before-enter="onBeforeEnter"
      @leave="onLeave"
      @after-leave="onAfterLeave"
    >
      <router-view />
    </transition>
  </div>
</template>

<script>
import { vDebounce } from './mixins/vDebounce';

export default {
  components: {
    TheHeader: () => import('./components/TheHeader.vue')
  },
  mixins: [vDebounce],
  data() {
    return {
      pageClass: '',
      reflectedTransitionClass: ''
    };
  },
  mounted() {
    this.commitWindowSize();
    window.addEventListener(
      'resize',
      this.vDebounce(() => {
        this.commitWindowSize();
      }, 75)
    );
  },
  beforeDestroy() {
    window.removeEventListener('resize', () => {
      this.commitWindowSize();
    });
  },
  methods: {
    onBeforeEnter() {
      this.$root.$emit('scrollBeforeEnter');
      this.pageClass = this.$router.currentRoute.meta.pageClass;
    },
    onLeave() {
      this.reflectedTransitionClass = 'fade-translate-leave-active';
    },
    onAfterLeave() {
      this.reflectedTransitionClass = '';
    },
    commitWindowSize() {
      this.$store.commit('SET_WINDOW_SIZE', {
        width: window.innerWidth,
        height: window.innerHeight
      });
    }
  }
};
</script>

<style>
@import './assets/css/minireset.min.css';
@import './assets/css/fonts.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,400;1,900&display=swap');

/****************

Global

****************/
body {
  color: #333333;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
}

p {
  line-height: 1.5em;
}

a {
  color: inherit;
  text-decoration: none;
}

a,
img,
video {
  display: block;
}

.bold {
  font-weight: 800;
}

.italic {
  font-style: italic;
}

.white {
  display: inline;
  background-color: #fff;
  padding: 0 0.3vw;
}

/******************

Wrapper Header and Content

*****************/

.app-wrapper {
  overflow: hidden;
}

/***************

Content Base

****************/

.main-content-wrapper {
  position: relative;
  min-height: 100vh;
  margin-left: 50px;
  transition: margin-left 0.6s;
  background-color: #e5e5e5;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

@media (min-width: 1200px) {
  .main-content-wrapper {
    margin-left: 350px;
  }
}

@media (min-width: 1600px) {
  .main-content-wrapper {
    margin-left: 400px;
  }
}

@media (min-width: 2000px) {
  .main-content-wrapper {
    margin-left: 22vw;
    transition: none;
  }
}

.fade-translate-enter-active {
  transition: all 0.6s ease;
  transition-delay: 0.3s;
}

.fade-translate-leave-active {
  transition: all 0.6s ease;
}

.fade-translate-enter,
.fade-translate-leave-to {
  opacity: 0;
}

/* Désactiver transform si pageClass === 'home-page' */
.home-page .fade-translate-enter,
.home-page .fade-translate-leave-to {
  transform: none;
}

@media (min-width: 1200px) {
  .fade-translate-leave-active {
    transition: all 0.6s cubic-bezier(1, 0.5, 0.8, 1);
  }

  .fade-translate-enter,
  .fade-translate-leave-to {
    transform: translateX(10px);
  }
}
</style>
